<%- include('header') %> 
<form method="POST" class="form-group">
    <div class="container mt-2">
        <div class="row m-4"> <label for="username">Username: </label>
            <input type="text" class="form-control" id="username" placeholder="username" name="username">
        </div>
        <div class="row m-4"> <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" placeholder="password" name="password">
        </div>
     
        <div class="text-center m-4"><button class="btn btn-primary ">Submit</button>
        </div>
    </div>

</form>
<ul>
    <% if(locals.errors) for(const error of errors){ %> 
            <li class="text-danger"><%=error.msg %> </li>
        <% } %> 
</ul>
<%- include('footer') %> 